html,
body,
#map {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}
/* #map,
body,
html {
    height: 100%;
} */
/* Rectangle 1 */

/* body {
    background-color: #1C225E;
    background-image: ;
} */
#headerText {
    color:white;

}

#paragraph1 {
    color:white;
}

/* div #map {
    color: white;
} */

#map-row {
    height: 800px;
    

}

.legend {
padding: 10px;
line-height: 18px;
color: #555;
background-color: #fff;
border-radius: 5px;
}

.legend i {
float: left;
width: 18px;
height: 18px;
margin-right: 8px;
opacity: 0.7;
}

h1 {
    font-size: 18px;
}