<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happiness vs Pandemic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <div class="row">
        <div style="background-image: url('../static/images/world.png');"class="col-12">
            <!-- <img src="../static/images/world.png"alt="world" style="width:100%;" class="img-fluid"> -->
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="col-sm-1">
                    <a class="navbar-brand " href="index.html">Happiness vs Pandemic</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-sm-8"></div>
                <div class="col-sm-3">
                    <div class="collapse navbar-collapse " id="navbarNavDropdown">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="map.html">World Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>N
    </div>
    <div class="wrapper">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div>
                        <img src="../static/images/smiley_face.jpg" alt="Smiley Face" style="width:100%;" class="img-fluid">
                        <div>
                            <h1 id="headerText">Happiness vs Pandemic</h1>
                            <p id="paragraph1">Use the interactive charts below to explore the dataset. The dataset has many features the includes how our world 
                                has reacted to Covid-19. How did countries who were considered as the "Happiest" fair in this year of Covid?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="well">
                            <h5>Country Name:</h5>
                            <select id="selDataset" onchange="optionChanged(this.value)">--Select--</select>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Demographic Info</h4>
                            </div>
                            <div id="sample-metadata" class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" id="map-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="map">
                            <!-- We append our map here. -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-lg-1 col-md-1 col-sm-1 "></div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div id="bubble">
                            <div id="scatter">
                                <!-- We append our chart here. -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="../static/js/app.js"></script>
        <script src="../static/js/bubbleapp.js"></script>

</body>

</html>