.aText {
    font-family: 'sans-serif';
    font-size: 20px;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
    font-family: 'sans-serif';
  }
  
  .inactive {
    font-weight: lighter;
    fill: #a3a0a0;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }
  
  .chart {
    display: block;
    margin: 0;
  }
  
  .d3-tip {
    padding: 7px;
    width: 250px;
    height: 100px;
    font-size: 15px;
    line-height: 1;
    line-height: 1.5em;
    color: black;
    text-align: center;
    text-transform: capitalize;
    background: rgb(250, 211, 211);
    border-radius: 15px;
    border: 10px;
  
  }
  
  /* Mobile Rules */
  @media screen and (max-width: 530px) {
    
    .aText {
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .aText {
      font-size: 25px;
    }
  }