.aText {
    font-family: 'sans-serif';
    font-size: 16px;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #7a7878;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #000;
    cursor: pointer;
  }
  
  .chart {
    display: block;
    margin: 0;
  }
  
  .d3-tip {
    padding: 6px;
    width: 185px;
    height: 70px;
    font-size: 12px;
    line-height: 1;
    line-height: 1.5em;
    color: black;
    text-align: center;
    text-transform: capitalize;
    background: rgb(216, 210, 210);
    border-radius: 4px;
    border: 4px;
  
  }
  
  /* Mobile Rules */
  @media screen and (max-width: 530px) {
    
    .aText {
      font-size: 25px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .aText {
      font-size: 25px;
    }
  }